* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(0, 0, 70);
    color: white;
    width: 100vw;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    text-shadow: 3px 3px 3px black;
    margin-bottom: 3px;
}

button {
    background-color: blue;
    color: white;
    font-weight: 600;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 10px;
    cursor: pointer;            /* Pointer cursor */
    transition: transform 0.3s ease; /* Smooth scaling */
}
button:hover {
    transform: scale(1.1); /* Increase size by 10% */
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



img {
    width: 100vw; /* Make the image span the full width of the screen */
    height: 400px; /* Set the fixed height */
    object-fit: cover; /* Ensure the image is cropped proportionally */
    
}

main > p {
    width: 80vw;
    background-color: rgb(0, 0, 70);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}


/* Swap the style over when hovered */
main > p:hover {
    background-color: white;
    color: rgb(0, 0, 70);
    box-shadow: -3px -3px 3px black;
}